<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back Leaders!</h1>
    <p class="lead">
      You have signed in!  Please register Camp Members for 2018.
      But first check if your church is listed here. In Churches.
    </p>
    <%= link_to 'Camp Members', camp_members_path %>
    <%= link_to 'Churches', churches_path %>
    <%= link_to 'Emergency Contacts', emergency_contacts_path%>
    <%= link_to 'Payment', payment_informations_path%>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <h4>Announcements!! </h4>
    <p class="lead">
      Please check your email for further instructions.
    </p>
    <h4>Admin Page </h4>
    <p class="lead">
      <%= link_to 'Admin', rails_admin_path%>
    </p>
    <h4>Message Board </h4>
    <p class="lead">
      <%= link_to 'Message Dashboard', posts_path%>
    </p>
  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
      </div>
      <div class="span6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>

</div>
