<p id="notice"><%= notice %></p>

<h1>Church Names</h1>

<table>
  <thead>
    <tr>
      <th>Church name</th>
      <th>Pastor name</th>
      <th>Mens leader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @church_names.each do |church_name| %>
      <tr>
        <td><%= church_name.church_name %></td>
        <td><%= church_name.pastor_name %></td>
        <td><%= church_name.mens_leader %></td>
        <td><%= link_to 'Show', church_name %></td>
        <td><%= link_to 'Edit', edit_church_name_path(church_name) %></td>
        <td><%= link_to 'Destroy', church_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Church Name', new_church_name_path %>
